
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Feb Racing</h1>
    </header>
    
    {% block content %}{% endblock %}
    
    <footer>
        <img src="{% static 'febracing_sprites/logo.png' %}" id="logo-footer">
    </footer>
</body>
</html>