{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal - Feb Racing</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Feb Racing</h1>
    </header>
    
    <div class="mostradores">
        <div class="velocimetro">
            <div class="velocimetro-marcas"></div>
            <div class="ponteiro" id="ponteiro-velocimetro"></div>
            <div class="centro"></div>
            <div class="numeros"></div>
        </div>
        <div class="tacometro">
            <div class="tacometro-marcas"></div>
            <div class="ponteiro" id="ponteiro-tacometro"></div>
            <div class="centro"></div>
            <div class="numeros"></div>
        </div>
    </div>
    
    <script src="{% static 'js/tela_principal.js' %}"></script>
    
    <footer>
        <img src="{% static 'febracing_sprites/logo.png' %}" id="logo-footer">
    </footer>
</body>
</html>
